* {
    font-family: 'Malgun Gothic';

}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.logo img {
    margin-left: 20px;
    height: 2.5cm;
    width: 100%;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 1000;
    height: 2.5cm;
    background: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    box-shadow:0px 0px 4px rgba(0, 0, 0, 0.336);
    
}

nav ul li {
    justify-content: space-between;
    display: inline-block;
    list-style: none;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.content a {
    
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #00353b;
    align-items: flex-start;
    transition: 0.5s ease-in;
}
.content li a:hover,
.content li a.active{
    color: rgb(131, 180, 196);
}

.content li a.active::after,
.content li a:hover::after{
    content: "";
    width: 50%;
    height: 3px;
    background:rgb(131, 180, 196);
    position: absolute;
    bottom: 0px;
    left: 20px;
}
.second{
    height: 17vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('PICTURES/second.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#063336 ;
    margin-bottom: 5px;

}
.second b{
    font-size: 30px;
    color:#063336 ;
}
nav .content{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.clinics{
    background-image: linear-gradient(to left,white, #e9f1f1);
    width: 100%;
    height: 160vh;
    margin-bottom: 4px;
}

.clinics #clinic{
    font-size: 30px;
    font-weight: 600;
    color: #00353b;
} 

.clinics #bone{
    font-size: 20px;
    color: #00353b;
    font-weight: 550;
    margin-left: 5%;
}

.clinics .data ,
.clinics .datas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
} 

.clinics .data .first,
.clinics .datas .first{
    height: 42vh;
    width: 30%;
    background-color: white;
    border-bottom: 0.005mm solid rgb(49, 46, 46);
    border-left: 0.005mm solid rgb(49, 46, 46);
    margin: 30px 25px;
    border-radius: 5px;
    line-height: 5vh;
    transition: 0.5s ease;
}

.clinics .data .first p,
.clinics .datas .first p{
    padding: 5px;
    margin: 15px;
}

.clinics .data .first:hover,
.clinics .datas .first:hover{
    box-shadow: 0px 2px 4px;
}

.mains {
    display: flex;
    justify-content: space-between;
    background-color: #00353b;
    color: white;
}

.mains .locate a{
    text-decoration: none;
    color: rgb(220, 253, 157);
}
.foot{
    margin-top: 35px;
    display: flex;
    line-height: 30px;
}
.navigate{
    transition: 5s;
  
}


.navigate a {
    text-decoration: none;
    color: white;
}

.navigate a:hover {
    text-decoration: underline;
    color: aqua;
}

.privacy {
    background-color: #00353b;
    color: rgb(73, 114, 114);
    text-align: center;
    height: 70px;
    
}